import * as request from 'supertest';
import httpListener from '@app';
import { createContext } from '@marblejs/core';

describe('<%= classify(name) %>$', () => {
  const app = httpListener.run(createContext());

  test('<%- method %> <%- path %> should return status 200', async () => {
    request(app).get(`<%- path %>`).expect(200);
  });
});
