import { HttpEffect, use } from '@marblejs/core';
import { requestValidator$, t } from '@marblejs/middleware-io';

const validator$ = requestValidator$({
  params: t.type({ /** Params validation */ }),
  body: t.type({ /** Body validation */ }),
});

export const <%- camelize(name) %>$: HttpEffect = req$ =>
  req$.pipe(
    use(validator$)
    /** Effect flow */
  );
